header {
  background-color: #2596be;
  padding: 10px 15px;
}

header nav .navbar-nav .nav-link {
  color: #efefef !important;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 18px !important;
}

header .navbar-brand {
  max-width: 200px;
}


/* Header Search Bar */
.header-search  input[type="text"] {
  border: none;
}

.header-search   .input-group-addon button {
  color: #fff;
  background: #ef2d2c;
  padding: 10px 15px;
  border: none;
  font-size: 12px;
}

.select-style {
  width: auto;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.select-style select {
  width: 100%;
  background: #efefef;
  color: #000;
  height: 38px;
  padding: 0px 9px;
  border: none;
  outline: none;
}

.select-style select option.topshow {
  padding: 10px 0;
  position: relative;
  top: 15px;
}

/* End Header Search Bar */


/* Header cart CSS */
header .cart a {
  color: #fff;
  text-decoration: none;
}

header .cart {
  position: relative;
  left: -15px;
}

header .cart a span.number {
  position: relative;
  left: 38px;
  top: -4px;
  color: #ef2d2c;
}

header .cart a span.number {
  position: relative;
  left: 38px;
  top: -4px;
  color: #ffffff;
}

header .cart a {
  color: #fff;
  text-decoration: none;
}

/* End Header cart CSS */


/* choose store checkbox CSS */
header > [type="radio"]:checked+label,
header > [type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 5px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  font-family: "Conv_VisueltPro-Regular";
  font-size: 14px;
}


/* Responsive CSS */
@media (max-width: 991px) {
  header .cart a img {
    width: 30px;
    margin-left: 10px;
  }

  header .cart a span.number {
    left: 40px;
    top: -7px;
    font-size: 14px;
  }

  header {
    padding: 10px 0px;
  }

  .cart-login {
    position: absolute;
    right: 70px;
  }

  header .navbar-brand {
    max-width: 150px;
  }
}

/* slider carousel */
.up {
  height: auto;
}

.side {
  width: 25%;
  height: auto;
  filter: drop-shadow(2px 4px 8px #585858);
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .side {
    width: auto;
    margin: 10px;
  }

  .product-modal{
    flex-direction: column;
  }
}

#gg {
  width: 100%;
  height: auto;
}

#fr {
  margin: 5px;
}

.shi {
  margin-top: 20px;
}

.sw {
  padding: 5px;
}

#tt {
  text-align: center;
}

/* signup button link */
a:link,
a:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
}

a:hover,
a:active {
  background-color: transparent;
}

.btn {
  background-color: rgb(0, 183, 255);
  height: 35px;
}

.btn-primary {
  width: fit-content;
}

/* card */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  background-color: rgb(0, 183, 255);
  padding: 10px;
}

.grid-container>div {
  background-color: whitesmoke;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  width: fit-content;
}

/* product */
.prt {
  width: 65%;
  height: auto;
  padding: 15px;
  justify-self: center;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .prt {
    width: 200px;
  }

  .pmodal-body{
    flex-direction: column;
  }
}

/* scrollbar */
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
}

.ced {
  /* background-color: rgb(0, 183, 255); */
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;

}

.bb {
  height: auto;
  background-color: green;
}

.yy {
  margin-bottom: 20px;
  background-color: aquamarine;
}

/* product of the week keyframe */
#cf {
  position: relative;
  height: 155px;
  width: 320px;
  margin: 5px;
}

#cf img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes cfFadeInOut {
  0% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

#cf img.top {
  animation-name: cfFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

.price {
  font-weight: lighter;
}
/* 
.it {
  margin: 2px;
  height: 100%;
} */

#fo {
  /* font-size: small; */
  color: rgba(255, 255, 255, 0.8);
  line-height: 2em;
  font-size: 1em;
}

#ty {
  width: 200px;
}

.plu {
  width: 150px;
}

.val {
  border: none;
  text-align: center;
}

/* Newsletter */
.home-newsletter {
  padding: 80px 0;
  background: #e28743;
  margin-top: 30px;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}

.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}

.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
}

#ai {
  width: auto;
  margin-top: 40px;
}

#for {
  font-size: small;
  margin: 15px;
}

.ya {
  padding: 30px;
}

/* .ar {
  background-color: wheat;
  /* height: 100%; 
} */

.vu {
  padding: 0.5em 1em;
  color: white;
  text-transform: uppercase;
  background-color: #063970;
  border-radius: 0.5em;
}

 .vu:hover{
  border: 1px solid #063970;
  background: transparent;
  color: white; 
}

/* .dd {
  display: flex;
  flex-direction: column;
  width: 80%;
  background: #e28743;
} */

/* .ff{
  width: 20%;
} */

.hh{
  font-size: 2em;
  color: white;
}
/* 
.cons{
  width: 90%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 2em;
} */
/* modal */

.supplementWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 0.5em;
  padding: 1em 2em;
  margin-bottom: 1em;
}

.pImg {
  width: 200px;
  height: 180px;
}

.productWrapper {
  /* padding: 1em; */
  text-align: center;
  background-color: white;
  text-decoration: none;
  border-radius: 0.5em;
  transition: transform 500ms ease-in-out;
}

.productWrapper > .price{
  font-size: 1em;
  font-weight: bolder;
}

.productWrapper:hover{
  transform: scale(1.1);
}

.productWrapper > h6{
  color: black;
  text-transform: capitalize;
}

.productWrapper:hover{
  background-color: white;
}
/* New other Product Category code Start */
#fo{
  font-size: small;
}
.dd{
  display: flex;
  flex-direction: column;
}
.ar{
  background-color: wheat;
  height: fit-content;
}
.it{
  margin: 2px;
}
.btn-primary{
  height: fit-content;
}